{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
	Сброс пароля
{% endblock %}

{% block main %}
	{% include 'messages.html' %}

	<div class="card col-5 p-3 mx-auto">
		<h2 class="font-weight-bold mt-3">Сброс пароля</h2>
		<hr>
		<p>Забыли пароль? Введите адрес электронной почты, и мы пришлем ссылку на сброс пароля</p>
		<form method="POST">
			{% csrf_token %}
			{{ password_reset_form|crispy }}
			<br>
			<button class="btn btn-primary" type="submit">Отправить</button>
		</form>
	</div>
{% endblock %}
