`{% load static %}

<div id="open-chat" class="bot">
    <i class='bx bxs-message-rounded-detail'></i>
</div>

<div id="window" class="window-bot">
    <div id="close-chat" class="bot-container__header">
        <i class='bx bxs-x-circle'></i>
    </div>
    <!--  -->
    <div id="window-dialog" class="w-100">
        <div class="bot-container">
            <div class="bot-container__chat mb-7">
                <p>Задайте мне вопрос.</p>
            </div>
            <div class="bot-container__dialog">
                <form>
                    {% csrf_token %}
                    <textarea class="form-control" id="text_user" rows="3"></textarea>
                    <button type="button" onclick="window_dialog()" class="btn">Отправить</button>
                </form>
            </div>
        </div>
        <div class="bot-container" style="width: 29%!important;">
            <img src="{% static 'img/photo_2022-05-05_14-03-31.jpg' %}" alt="bot">
        </div>
    </div>
    <!--  -->
    <div id="window-dialog-not_request" class="w-100">
        <div class="bot-container">
            <div class="bot-container__chat">
                <p>Вот что нашёл по вашему вопросу:</p>
                <div id="elements"></div>
            </div><br><br><br>
            <button class="btn mt-5" onclick="back()" type="button">Назад</button>
        </div>
        <div class="bot-container" style="width: 29%!important;">
            <img src="{% static 'img/photo_2022-05-05_14-03-25.jpg' %}" alt="bot">
        </div>
    </div>
    <!--  -->
    <div id="window-dialog-request" class="w-100">
        <div class="bot-container">
            <div class="bot-container__chat mb-7">
                <p id="bot_message-text"></p>
            </div>
            <button class="btn" onclick="back()" type="button">Назад</button>
        </div>
        <div class="bot-container" style="width: 29%!important;">
            <img src="{% static 'img/photo_2022-05-05_14-03-32.jpg' %}" alt="bot">
        </div>
    </div>
    <!--  -->
    <div id="window-dialog-error" class="w-100">
        <div class="bot-container">
            <div class="bot-container__chat mb-7">
                <p>Ваш вопрос не понял, попробуйте переформулировать вопрос.</p>
            </div>
            <button class="btn" onclick="back()" type="button">Назад</button>
        </div>
        <div class="bot-container" style="width: 29%!important;">
            <img src="{% static 'img/photo_2022-05-05_14-03-36.jpg' %}" alt="bot">
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
</script>
  
<script>
    // Проверка настроек
    $.ajax({
        url: "{% url 'get_settings_bot' %}",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        method: 'get',
        // contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function(response){
            if (response.data == "Низкий" && response.data == "Средний" && response.data == "Высокий"){
                document.getElementById('window').classList.remove('d-block');
                document.getElementById('window').classList.add('d-none');
            }
        }
    });

    // Если бот что то нашёл
    function window_dialog_request(param){
        $("#bot_message-text").append(param);
        document.getElementById('window-dialog-not_request').classList.remove('d-flex');
        document.getElementById('window-dialog-not_request').classList.add('d-none');
        document.getElementById('window-dialog-request').classList.add('d-flex');
        document.getElementById('window-dialog').classList.remove('d-flex');
        document.getElementById('window-dialog').classList.add('d-none');
        document.getElementById('window-dialog-error').classList.remove('d-flex');
        document.getElementById('window-dialog-error').classList.add('d-none');
    }
    //  Бот ничего не нашёл
    function window_dialog_not_request(param){
        window.links;
        var theme = [];
        var links=[];
        
        for (var i = 0; param.length > i; i++){
            theme.push(param[i][1])
            
            $.ajax({
                url: "http://127.0.0.1:8000/bot/link_test_bot/"+param[i][0],
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                method: 'get',
                dataType: 'json',
                success: function(response, j=param){
                    var tgr = []
                    data_list = response.data; 
                    console.log(data_list)
                    /*
                    for (var x = 0; data_list.length > x; x++){
                        for (var g=0; theme.length > g; g++){
                            if (x == g){
                                $("#elements").append(
                                '<div class="items"> \
                                    <a href="http://127.0.0.1:8000/course/coursepage/'+data_list[x][1]+'" class="btn">'+ theme[g] +'</a> \
                                </div>');
                            }
                        }
                    }
                    */
                }
            }); 
        }

        document.getElementById('window-dialog-not_request').classList.add('d-flex');
        document.getElementById('window-dialog-request').classList.remove('d-flex');
        document.getElementById('window-dialog-request').classList.add('d-none');
        document.getElementById('window-dialog').classList.remove('d-flex');
        document.getElementById('window-dialog').classList.add('d-none');
        document.getElementById('window-dialog-error').classList.remove('d-flex');
        document.getElementById('window-dialog-error').classList.add('d-none');
    }

    //
    function error_dialog(){
        document.getElementById('window-dialog-not_request').classList.remove('d-flex');
        document.getElementById('window-dialog-not_request').classList.add('d-none');
        document.getElementById('window-dialog-request').classList.remove('d-flex');
        document.getElementById('window-dialog-request').classList.add('d-none');
        document.getElementById('window-dialog').classList.remove('d-flex');
        document.getElementById('window-dialog').classList.add('d-none');
        document.getElementById('window-dialog-error').classList.add('d-flex');
    }

    // Отправка вопроса на сервер
    function window_dialog(){
        var text = $('textarea#text_user').val();
        // Запрос на сервер
        $.ajax({
            url: "{% url 'bot' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            method: 'post',
            // contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: { 
                message: text
            },
            success: function(response){
                if ('is_data' in response){
                    return window_dialog_request(response['is_data']);
                } else {
                    if (response['not_data'].length > 0){
                        return window_dialog_not_request(response['not_data']);
                    } else {
                        return error_dialog();
                    }
                }
            }
        });
    }

    function back(){
        $("#elements").append('');
        document.getElementById('window-dialog-not_request').classList.remove('d-flex');
        document.getElementById('window-dialog-not_request').classList.add('d-none');
        document.getElementById('window-dialog-request').classList.remove('d-flex');
        document.getElementById('window-dialog-request').classList.add('d-none');
        document.getElementById('window-dialog-error').classList.remove('d-flex');
        document.getElementById('window-dialog-error').classList.add('d-none');
        document.getElementById('window-dialog').classList.add('d-flex');
        document.getElementById('window-dialog').classList.remove('d-none');
    }

    document.getElementById('open-chat').onclick = function(){
        if (document.getElementById('window').style.display == "flex"){
            document.getElementById('window').style.display = "none";
        } 
        else {
            document.getElementById('window').style.display = "flex";
        }
    }

    document.getElementById('close-chat').onclick = function(){
        document.querySelector('.window-bot').style.display = "none";
    }
</script>