{% load static %}

<div id="open-chat" class="bot">
    <i class='bx bxs-message-rounded-detail'></i>
</div>

<div id="window" class="window-bot d-block">
    <div id="close-chat" class="bot-container__header">
        <i class='bx bxs-x-circle'></i>
    </div>
    <!--  -->
    <div id="window-dialog" class="w-100">
        <div class="bot-container">
            <div class="bot-container__chat mb-7">
                <p>Для этой задачи вы должны знать следующие темы: </p>
            </div>
            <div id="bot-content" class="bot-container__dialog">
            </div>
        </div>
        <div class="bot-container" style="width: 29%!important;">
            <img src="{% static 'img/photo_2022-05-05_14-03-31.jpg' %}" alt="bot">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
</script>

<script>
    $.ajax({
        url: "{% url 'testinfo' task.taskId %}",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        method: 'get',
        // contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function(response){
            console.log(response);
            for (let x of response.neededThemes){
                let link = 'http://127.0.0.1:8000/course/coursepage/' + x.title;
                document.getElementById('bot-content').insertAdjacentHTML('afterend', `<a class="btn btn-dark col-lg-4 col-6 mb-2 text-light" href="${link}">` + x.name + '</a><br>');
            }
        }
    });

    // Проверка настроек
    $.ajax({
        url: "{% url 'get_settings_bot' %}",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        method: 'get',
        // contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function(response){
            if (response.data == "Низкий"){
                openWindow();
            }
        }
    });
    
    function toggleWindow(){
        if (document.getElementById('window').classList.contains('d-block')){
            closeWindow();
        }
        else{
            openWindow();
        }
    }

    function openWindow(){
        document.getElementById('window').classList.remove('d-none');
        document.getElementById('window').classList.add('d-block');
    }

    function closeWindow(){
        document.getElementById('window').classList.remove('d-block');
        return document.getElementById('window').classList.add('d-none');
    }

    function closer(){
        document.getElementById('close-chat').onclick = function(){
            closeWindow();
        }
        document.getElementById('open-chat').onclick = function(){
            toggleWindow();
        }
    }
    closer();
</script>