/* Стили бота */
.window-bot a{
    text-decoration: none;
}
.window-bot{
    z-index: 10;
    display: flex;
    position: fixed;
    top: 10%;
    background-color: white;
    border-radius: 1em;
    left: 48%;
    width: 50%;
    box-shadow: -1px 5px 5px 6px rgb(228, 228, 228);
    padding: 0.5em;
}
.bot-container{
    width: 70%;
}
.bot-container__chat{
    padding: 1em;
    position: relative;
    background-color: #d2dde3;
    top: 4em;
}
.bot-container__chat::after {
    content: '';
    position: absolute;
    right: -28px;
    top: 5%;
    border: 10px solid transparent;
    border-left: 20px solid #d2dde3;
}
.window-bot form .items{
    margin-top: 1.5em;
}
.window-bot form .items .btn{
    color: #222;
    padding: 0.5em;
    background-color: #fff;
    margin-top: 1em;
}
.window-bot form textarea{
    width: 80%;
    display: block;
    margin-bottom: 1em;
}
.mb-7{
    margin-bottom: 9em;
}
.window-bot button.btn{
    padding: 0.6em;
}
.bot{
    width: 4.2em;
    background: #4ca1e9;
    text-align: center;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer;
    position: fixed;
    top: calc(100vh - 100px);
    left: calc(100vw - 100px);;
}
@media(max-width: 480px) {
    .bot{
        left: 78%;
    }
}
.bot i.bx{
    display: block;
    font-size: 2em;
    color: #222;
    z-index: 5;
}
.bot-container__header i.bx{
    color: #222;
    position: absolute;
    font-size: 1.5em;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}
#window-dialog{
    display: flex;
}
#window,  #window-dialog-request, 
#window-dialog-not_request, #window-dialog-error{
    display: none;
}

.bot-container p{
    color: #222;
}
/* Конец */