.course_header {
    background-color: rgb(179, 231, 255);
    font-weight: bold;
}

.header-link {
    transition: 0.4s;
    text-decoration: none;
    margin: 0 10px;
  }

  .header-link:hover {
    transform: scale(1.1);
    background-color: #fff;
  }