.article_text h1{
    color: black;
    border-bottom: 4px solid rgb(4, 80, 116);
    margin: 40px 0px 20px 0px;
}

.article_text table{
    background-color: rgb(249, 253, 255);
    margin: 20px 0px 30px 0px;
}

.article_text td{
    border: 1px solid black;
    padding: 20px;
}

.article_text h2{
    margin: 30px 0px 15px 0px;
    color: black;
    border-bottom: 2px solid rgb(4, 80, 116);
}

.article_text h3{
    margin: 10px 0px 10px 0px;
    color: black;
}

.article_text p{
    color: black;
}

.article_text li{
    font-size: 1.1em;
    color: black;
}


.article-image {
    margin: 20px;
}

.code {
    border: 1px solid #DDD;
    background-color: #F7F7F7;
    font-size: 20px;
    font-family: 'Andale Mono', 'Courier New', Courier, monospace;
    padding: 1em 1em;
    margin: 0.4em 0;
    overflow: auto;
}

#login_form header{
    background-color: #7d8ecd;
}
.errors{
    margin-top: 10em;
}
.errors h1, 
.errors h2{
    border: none;
    color: #222;
}