{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Настройка профиля</title>
</head>
<body>
{% include 'messages.html' %}

<a class="nav-link" href="{% url 'profile' request.user.username %}">my profile</a>
	<form method="post" style="max-width: 300px" enctype='multipart/form-data'>
		{% csrf_token %}
		<div>
			<img src="{{ about_user.avatar.url }}" style="width: 200px">
			<input type="file" name="avatar" accept=".jpg, .jpeg, .png">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1"  class="form-label">Username</label>
			<input name="username" class="form-control" id="exampleFormControlInput1" value="{{ request.user.username }}">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1"  class="form-label">Имя</label>
			<input name="first_name" class="form-control" id="exampleFormControlInput1" value="{{ request.user.first_name }}">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1"  class="form-label">Фамилия</label>
			<input name="last_name" class="form-control" id="exampleFormControlInput1" value="{{ request.user.last_name }}">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Адрес электронной почты</label>
			<input type="email" class="form-control" name="email" id="exampleFormControlInput1" value="{{ request.user.email }}">
		</div>
		<button type="submit" class="btn btn-dark">Внести изменения</button>
	</form>

<a class="nav-link" href="{% url 'change_password' %}">Сменить пароль</a>


</body>
</html>