{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Регистрация
{% endblock %}

{% block main %}
	{% include 'messages.html' %}

    <section id="login_form" class="mx-auto card col-lg-8 col-12 ">
        <header class="row p-2 text-center">
            <h4>
                <b>Регистрация</b>
            </h4><br>
        </header>

        <form method="post">
            {% csrf_token %}
            <p>{{ form|crispy }}</p>
            <br>
            <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
        </form>
		<br>
	</section>
{% endblock %}