{% extends 'base.html' %}
{% load static %}

{% block title %}
	Магазин
{% endblock %}

{% block main %}
	{% include 'messages.html' %}



	{% if er_msg %}
		<p style="color: red">{{ er_msg }}</p>
	{% endif %}
	<div class="col-12">

		<a href="{% url 'profile' request.user.username  %}" class="col-2 btn btn-dark" style="position: relative;top: 0em;">Назад</a>
		<!-- <a href="" class="col-2 btn btn-dark" style="position: relative;left: 50%;top: 0em;">Инвентарь</a> -->

		
	</div>
	
	<div class="mt-5"></div>
	<h3>Инвентарь</h3>

	<div class="p-2" style="overflow-y: scroll; overflow-x: hidden; height: calc(100vh - 200px);">
				<h2>Frames:</h2>
				{% for item_in_row in frames %}
				<div class="row">
					{% for item in item_in_row %}
					<div class="col-sm mb-4 p-3 d-flex align-items-stretch">
						<div class="card bg-dark m-3">
							<div class="card-header">
								<img 
									src="{% static item.image %}" 
									alt="{{ item.name }}" 
									class="img-fluid mx-auto d-block"
									style="max-height: 25vh; max-width: 25vw; min-height: 25vh; min-width: 25vw;">
							</div>
							<div class="card-body">
								<div class="container">
									<h3 class="text-light">{{ item.name }}</h3>
									{% if item is None %}
									<a href="{% url 'set_item' 20000 %}" class="col-10 mx-auto btn btn-light">Использовать</a>
									{% else %}
									<a href="{% url 'set_item' item.id %}" class="col-10 mx-auto btn btn-light">Использовать</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
				<h2>Background:</h2>
				{% for item_in_row in backs %}
				<div class="row">
					{% for item in item_in_row %}
					<div class="col-sm mb-4 p-3 d-flex align-items-stretch">
						<div class="card bg-dark m-3">
							<div class="card-header">
								<img 
									src="{% static item.image %}" 
									alt="{{ item.name }}" 
									class="img-fluid mx-auto d-block"
									style="max-height: 25vh; max-width: 25vw; min-height: 25vh; min-width: 25vw;">
							</div>
							<div class="card-body">
								<div class="container">
									<h3 class="text-light">{{ item.name }}</h3>
									{% if item is None %}
									<a href="{% url 'set_item' 10000 %}" class="col-10 mx-auto btn btn-light">Использовать</a>
									{% else %}
									<a href="{% url 'set_item' item.id %}" class="col-10 mx-auto btn btn-light">Использовать</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}