{% extends 'base.html' %}


{% block title %}
	Поиск
{% endblock %}

{% block main %}
	{% include 'messages.html' %}

	<div class="card col-10 mx-auto p-3">
		<h1>Поиск пользователей</h1>
		<form method="post"  enctype='multipart/form-data'>
			{% csrf_token %}
			<div class="mb-3">
				<label for="exampleFormControlInput1"  class="form-label">Логин</label>
				<input name="username" class="form-control" id="exampleFormControlInput1" value="{{ request.POST.username }}">
			</div>
			<button type="submit" class="btn btn-dark">Найти</button>
		</form>
	</div>
	<br>

	<div class="col-10 mx-auto p-3">
	{% for user in users %}
		<p><a href="{% url 'profile' user.username %}">{{ user.username }}</a></p>
	{% endfor %}
	</div>
{% endblock %}