{% extends 'base.html' %}
{% load static %}

{% block title %}
	Магазин
{% endblock %}

{% block main %}
	{% include 'messages.html' %}

	<div class="col-12">

		<a href="{% url 'profile' request.user.username  %}" class="col-2 btn btn-dark" style="position: relative;top: 0em;">Назад</a>
		<a href="{% url 'inventory' request.user.username %}" class="col-2 btn btn-dark" style="position: relative;left: 42%;top: 0em;">Инвентарь</a>
		<p  class="col-2 btn btn-dark text-light" style="position: relative;left: 50%;top: 0.5em;">
			<i class='bx bxs-credit-card'></i> Ваш баланс: <b>{{ about_user.money }}</b>
		</p>
		
	</div>
	

	<h3>Предметы</h3>
	<div class="p-2" style="overflow-y: scroll; overflow-x: hidden; height: calc(100vh - 200px);">
		<h2>Frames:</h2>
		{% if not frames|length %}
			<div class="container">
				<p class="text-center">Нет рамок</p>
			</div>
		{% endif %}
		<div class="row row-cols-1 row-cols-md-2 g-2">
			{% for i in frames %}
				<div class="col">
					<div class="card" style="width: 280px">
						<img src="{{ i.image.url }}" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ i.name }}</h5>
							<p class="card-text">Цена: {{ i.price }}</p>
							<a href="{% url 'buy_item' i.id %}" class="btn btn-dark">Купить</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<h2>Backgrounds:</h2>
		{% if not backs|length %}
			<div class="container">
				<p class="text-center">Нет фонов</p>
			</div>
		{% endif %}
		<div class="row row-cols-1 row-cols-md-2 g-2">
			{% for i in backs %}
				<div class="col">
					<div class="card" style="width: 280px">
						<img src="{{ i.image.url }}" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ i.name }}</h5>
							<p class="card-text">Цена: {{ i.price }}</p>
							<a href="{% url 'buy_item' i.id %}" class="btn btn-dark">Купить</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}