{% extends 'base.html' %}
{% load static %}

{% block title %}
	Магазин
{% endblock %}

{% block main %}
	{% include 'messages.html' %}

	<div class="col-12">

		<a href="{% url 'profile' request.user.username  %}" class="col-2 btn btn-dark" style="position: relative;top: 0em;">Назад</a>
		<a href="{% url 'inventory' request.user.username %}" class="col-2 btn btn-dark" style="position: relative;left: 42%;top: 0em;">Инвентарь</a>
		<p  class="col-2 btn btn-dark text-light" style="position: relative;left: 50%;top: 0.5em;">
			<i class='bx bxs-credit-card'></i> Ваш баланс: <b>{{ about_user.money }}</b>
		</p>
		
	</div>
	

	<h3>Предметы</h3>
	<div class="p-2" style="overflow-y: scroll; overflow-x: hidden; height: calc(100vh - 200px);">
		<h2>Frames:</h2>
		{% for item_in_row in frames %}
		<div class="row">
			{% for item in item_in_row %}
			<div class="col-sm mb-4 p-3 d-flex align-items-stretch">
				<div class="card bg-dark m-3">
					<div class="card bg-dark">
						<div class="card-header">
							<img 
								src="{% static item.image %}"
								alt="{{ item.name }}"
								class="img-fluid mx-auto d-block"
								style="max-height: 25vh; max-width: 25vw; min-height: 25vh; min-width: 25vw;">
						</div>
						<div class="card-body">
							<div class="container">
								<h3 class="text-light">{{ item.name }}</h3>
								<p class="text-light"><b>{{ item.price }}</b> Руб.</p>
									{% if item is None %}
									<a href="{% url 'buy_item' 20000 %}" class="col-10 mx-auto btn btn-light">Использовать</a>
									{% else %}
									<a href="{% url 'buy_item' item.id %}" class="col-10 mx-auto btn btn-light">Использовать</a>
									{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
		<h2>Backgrounds:</h2>
		{% for item_in_row in backs %}
		<div class="row">
			{% for item in item_in_row %}
			<div class="col-sm mb-4 p-3 d-flex align-items-stretch">
				<div class="card bg-dark m-3">
					<div class="card bg-dark">
						<div class="card-header">
							<img 
								src="{% static item.image %}"
								alt="{{ item.name }}"
								class="img-fluid mx-auto d-block"
								style="max-height: 25vh; max-width: 25vw; min-height: 25vh; min-width: 25vw;">
						</div>
						<div class="card-body">
							<div class="container">
								<h3 class="text-light">{{ item.name }}</h3>
								<p class="text-light"><b>{{ item.price }}</b> Руб.</p>
									{% if item is None %}
									<a href="{% url 'buy_item' 10000 %}" class="col-10 mx-auto btn btn-light">Использовать</a>
									{% else %}
									<a href="{% url 'buy_item' item.id %}" class="col-10 mx-auto btn btn-light">Использовать</a>
									{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% endblock %}