{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Смена пароля</title>
</head>
<body>
<h1>Смена пароля</h1>

<form method="post">
	{% csrf_token %}
	<p>{{ form | crispy }}</p>
	<button type="submit" class="btn btn-dark">Сменить</button>
</form>
{% if message %}
	<p>{{ message }}</p>
{% endif %}


<a class="nav-link" href="{% url 'change_profile' %}">Настройки профиля</a>
<a class="nav-link" href="{% url 'home' %}">На главную</a>

</body>
</html>