<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game agent</title>
</head>
<body>
{% include 'messages.html' %}

	<a class="nav-link" href="{% url 'course_home' %}">курс</a>
	<a class="nav-link" href="{% url 'profile' request.user.username %}">my profile</a>
	<a class="nav-link" href="{% url 'logout' %}">logout</a>

	<h1>Последние новости</h1>
	<br>
	{% if posts|length != 0 %}
		{% for i in posts %}
			<div style="border: 1px solid black">
				<h3>{{ i.title }}</h3>
				{% if i.image %}
					<img src="{{ i.image.url }}" style="max-width: 200px; max-height: 200px">
				{% endif %}
				<p>{{ i.text }}</p>
				<p style="font-weight: bold">{{ i.date }}</p>
			</div>
			<br>
		{% endfor %}
	{% else %}
		<p>Новостей нет, извини</p>
	{% endif %}

</body>
</html>