<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ user.username }}</title>
</head>
<body>
{% include 'messages.html' %}

<a class="nav-link" href="{% url 'home' %}">home</a>
<a class="nav-link" href="{% url 'inventory' user.username %}">inventory</a>
<a class="nav-link" href="{% url 'game_shop' %}">Shop</a>
<a class="nav-link" href="{% url 'search_user' %}">search</a>
{% if user != request.user %}
	<a class="nav-link" href="{% url 'profile' request.user.username %}">Мой профиль</a>
{% endif %}

<div style="background-image: url({{ about_user.active_back.image.url }});">
	<h3>username - {{ user.username }}</h3>
	<img src="data:image/png;base64,{{ avatar }}" alt="" style="width: 250px; height: 250px">
	<h5>level: {{ about_user.level }}, to_next_level: {{ to_next_level }}%</h5>
	<h5>money: {{ about_user.money }}</h5>

	{% if user == request.user %}
		<a class="nav-link" href="{% url 'change_profile' %}">Изменить данные</a>
	{% elif user in req_subs %}
		<a class="nav-link" href="{% url 'users_action' user.username 'unsub' %}">Отписаться</a>
	{% else %}
		<a class="nav-link" href="{% url 'users_action' user.username 'sub' %}">Подписаться</a>
	{% endif %}
</div>
<h4>Достижения</h4>
{% if achievements|length != 0 %}
	{% for i in achievements %}
		<img src="{{ i.icon.url }}" style="width: 100px">
		<p style="color: darkgreen">{{ i.name }}</p>
	{% endfor %}
{% else %}
	<p>Пусто</p>
{% endif %}

<h4>Подписки</h4>
{% if subs|length != 0 %}
	{% for i in subs %}
	<p><a class="nav-link" href="{% url 'profile' i.username  %}">{{ i.username }}</a></p>
	{% endfor %}
{% else %}
	<p>Подписок нет</p>
{% endif %}

<h4>Подписчики</h4>
{% if subs_to|length != 0 %}
	{% for i in subs_to %}
		<p><a class="nav-link" href="{% url 'profile' i.user.username  %}">{{ i.user.username }}</a></p>
	{% endfor %}
{% else %}
	<p>Подписчиков нет</p>
{% endif %}

<h4>Активность</h4>
<img src="data:image/png;base64,{{ activity }}" alt="" style="max-width: 500px; max-height: 500px">

<h4>Скилы</h4>
<img src="data:image/png;base64,{{ skills }}" alt="" style="max-width: 500px; max-height: 500px">
</body>
</html>