<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shop</title>
</head>
<body>
{% include 'messages.html' %}

<a class="nav-link" href="{% url 'profile' request.user.username %}">profile</a>

{% if er_msg %}
	<p style="color: red">{{ er_msg }}</p>
{% endif %}

<p>Ваш баланс: {{ about_user.money }}</p>
<br>

<h3>Frames</h3>
{% for i in frames %}
	<div style="border: 1px solid black">
		<p>{{ i.name }}</p>
		<img src="{{ i.image.url }}" style="width: 100px">
		<p>Price: {{ i.price }}</p>
		<a href="{% url 'buy_item' i.id %}">Buy</a>
	</div>
	<br>
{% endfor %}

<h3>Backs</h3>
{% for i in backs %}
	<div style="border: 1px solid black">
		<p>{{ i.name }}</p>
		<img src="{{ i.image.url }}" style="width: 100px">
		<p>Price: {{ i.price }}</p>
		<a href="{% url 'buy_item' i.id %}">Buy</a>
	</div>
	<br>
{% endfor %}

<h3>In inventory</h3>
{% for i in inventory %}
	<div style="border: 1px solid black">
		<p>{{ i.name }}</p>
		<img src="{{ i.image.url }}" style="width: 100px">
	</div>
	<br>
{% endfor %}

</body>
</html>